---
layout: default
title: Software Development Life Cycle
description: "Our approach to software development, with a bias towards developing modular web components. Clearly defined and distinct work phases which are used to plan for, design, build, test, and deliver information systems."
class: sdlc
---

<section class="sdlc" id="sdlc">
  {% include content.html %}

  <p class="lede">The systems development life cycle (SDLC), also referred to as the application development life-cycle, is a term used in systems engineering, information systems and software engineering to describe a process for planning, creating, testing, and deploying an information system. The systems development life-cycle concept applies to a range of hardware and software configurations, as a system can be composed of hardware only, software only, or a combination of both.</p>

  <cite>"Systems Development Life Cycle." Wikipedia. Wikimedia Foundation</cite>

  <hr>

  <p>"Clearly defined and distinct work phases which are used to plan for, design, build, test, and deliver information systems."</p>

  <div class="box">
    <ul class="vertical lined">
      <li>
        <h3><i class="fa fa-search"></i> Discover</h3>
        <p>Research and determine the project's current situation and needs.</p>
      </li>
      <li>
        <h3><i class="fa fa-comments"></i> Define</h3>
        <p>Establish the scope of the project, planning, and project methodologies.</p>
      </li>
      <li>
        <h3><i class="fa fa-pencil"></i> Design</h3>
        <p>Design using the <a href="/styleguide/">Style Guide</a> and other approved brand identity assets. Technical and functional design decisions are made in this stage.</p>
      </li>
      <li>
        <h3><i class="fa fa-code"></i> Develop</h3>
        <p>Coding. Test it and repeat until development sins can be forgiven. Write Documentation.</p>
      </li>
      <li>
        <h3><i class="fa fa-upload"></i> Deploy</h3>
        <p>Deployment runs concurrently with Development.</p>
      </li>
      <li>
        <h3><i class="fa fa-refresh"></i> Repeat - Iterate - Make Better</h3>
      </li>
    </ul>
  </div>

  <h5>Notes:</h5>
  <ol>
    <li>A refactor, or scrubbing, should occur at the end of each phase to ensure that the final product delivery is not a bloated beast of obfuscated code and unused <b>'best practices'</b>.</li>
    <li>Never sacrifice making something excellent for the sake of <a href="http://en.wikipedia.org/wiki/Minimum_viable_product">MVP</a>.</li>
  </ol>

  {% include end_content.html %}
</section>
