<form action="https://formspree.io/meevwkrm" method="POST" autocomplete="on">
  <input type="text" name="_gotcha" style="display: none">
  <fieldset>

    <div class="row">
      <div class="third">
        <div class="formitem">
          <label for="name" class="visually-hidden">Name</label>
          <input type="text" id="name" name="name" placeholder="Name" x-autocompletetype="name-full" tabindex="91" required>
        </div>
      </div>
      <div class="third">
        <div class="formitem">
          <label for="email" class="visually-hidden">Email</label>
          <input type="email" id="email" name="email" placeholder="Email" x-autocompletetype="email" tabindex="92" required>
        </div>
      </div>
      <div class="third">
        <div class="formitem">
          <label for="tel" class="visually-hidden">Phone</label>
          <input type="tel" id="tel" name="tel" placeholder="Phone" x-autocompletetype="phone-full" tabindex="93" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="formitem">
        <label for="textarea" class="visually-hidden">Send me a message:</label>
        <textarea id="textarea" name="message" placeholder="Message" tabindex="94"></textarea>
      </div>
    </div>

    <!-- form housekeeping -->
    <input type="hidden" name="_next" value="http://qoppa.co/thank-you/" />

  </fieldset>
  <button class="btn btn-primary" type="submit" name="submit" value="Submit">Submit</button>

</form>
