    <!-- scripts -->
    <script async src="//ajax.googleapis.com/ajax/libs/jquery/{{ site.jquery_version }}/jquery.min.js"></script>
    <script async>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-{{ site.jquery_version}}.min.js"><\/script>')</script>

    <script async>
      function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "{{ site.baseurl }}/js/build/production.min.js";
        document.body.appendChild(element);
      }
      if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload, false);
      else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload);
      else window.onload = downloadJSAtOnload;
    </script>

    {% if site.google_analytics %}
    {% include google_analytics.html %}
    {% endif %}

  </body>
  </html>
  </html>
