    <!-- Footer Component -->
    {% if page.class != 'thank-you' %}
    <footer role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="third">
            <h4>REQUEST FOR PROPOSAL</h4>
            <p>We love to talk about Web Design; So whether you're ready to start building your businesses website, rebrand your old site, or just talk about what's possible and get some ideas - reach out, say hello!</p>

            <hr>

            <figure>
              <img src="/media/images/denver.jpg" alt="Map image of Denver and surrounding communities">
            </figure>
          </div>
          <div id="contact" class="two-thirds">
            <h4>CONTACT US</h4>
            {% include contact.html %}

            <hr>

            <h4>Or Call Us Directly</h4>
            <a class="tel" href="tel:303-875-7843">303.875.7843</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% endif %}
  <div class="sub-footer">
    <div class="container">
      <span class="small-body-text">&copy; <span id="year" class="getYear">year</span> {{ site.footer }}</span>
    </div>
  </div>
  <!-- ./Footer Component -->
