    <!-- Footer Component -->
    {% if page.class != 'thank-you' %}
    <footer role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="third">
            <h4>REQUEST A PROPOSAL</h4>
            <p>We love to talk about Web Design; So whether you're ready to start building your businesses website, rebrand your old site, or just talk about what's possible and get some ideas - reach out, say hello!</p>

            <hr>

            <div class="row">
              <iframe
              width="100%"
              height="175"
              frameborder="0"
              style="border:0"
              src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=7637+Nuthatch+Circle,+Parker,+CO&amp;aq=0&amp;oq=7637+Nuthat&amp;sll=39.737567,-104.984718&amp;sspn=8.250833,16.907959&amp;ie=UTF8&amp;hq=&amp;hnear=7637+Nuthatch+Cir,+Parker,+Colorado+80134&amp;t=m&amp;z=14&amp;ll=39.440518,-104.74617&amp;output=embed"></iframe>
            </div>

          </div>
          <div class="two-thirds">
            <h4>CONTACT US</h4>
            {% include contact.html %}

            <hr>

            <h4>Or Call Us Directly</h4>
            <a class="tel" href="tel:303-875-7843">303.875.7843</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% endif %}
  <div class="sub-footer">
    <div class="container">
      <span class="small-body-text">&copy; <span id="year" class="getYear">year</span> {{ site.footer }}</span>
    </div>
  </div>
  <!-- ./Footer Component -->
