// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Banner -- Version: 0.2.1- Compiled: #{timestamp()}
    ========================================================================== */

    header {
      width: 100%;
      height: 500px;
      background: #d12328 url(/media/images/header.jpg) no-repeat center center;
      background-size: cover;

      .logo {
        @include vertical-align;
        text-align: center;

        h1 {
          @include inline-block;
          @include padding(1em);
          border: 4px solid currentColor;
          color: $color-white;

          @include bp(bp-medium) {
            border: 0;
          }
        }

        @include bp(bp-medium) {
          top: 0;
          transform: none;
        }
      }

      @include bp(bp-medium) {
        height: auto;
        min-height: 200px;
      }

      @include bp(bp-small) {
        height: auto;
      }
    }
