// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Banner -- Version: 0.2.1- Compiled: #{timestamp()}
    ========================================================================== */

    header {
      padding-top: 3em;

      &.banner {
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center;

        .logo {
          @include vertical-align;
          text-align: center;

          h1 {
            @include inline-block;
            @include padding(1em);
            border: 4px solid currentColor;
            color: $color-white;

            @include bp(bp-medium) {
              border: 0;
            }
          }

          @include bp(bp-medium) {
            top: 0;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
          }
        }

        @include bp(bp-medium) {
          height: auto;
          padding: 0;
        }

        @include bp(bp-small) {
          height: auto;
        }
      }
    }
