// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Colors & Gradients -- Version: 0.4.3 - Compiled: #{timestamp()}
   ========================================================================== */

// Colors
$colors: (
  'black': $color-black,
  'dark-grey': $color-dark-grey,
  'grey': $color-grey,
  light-grey: $color-light-grey,
  light-light-grey: $color-light-light-grey,
  'white': $color-white,
  off-white: $color-off-white,
  text: $text,
  link: $link,
  info: $info,
  success: $success,
  error: $error,
  is-error: $error,
  warning: $error,
  muted: $color-light-grey,
  primary-red: $color-primary-red,
  secondary-red: $color-secondary-red,
  tertiary-red: $color-tertiary-red,
  primary-green: $color-primary-green,
  secondary-green: $color-secondary-green,
  tertiary-green: $color-tertiary-green,
  primary-blue: $color-primary-blue,
  secondary-blue: $color-secondary-blue,
  tertiary-blue: $color-tertiary-blue,
  primary-orange: $color-primary-orange,
  secondary-orange: $color-secondary-orange,
  tertiary-orange: $color-tertiary-orange,
  primary-yellow: $color-primary-yellow,
  secondary-yellow: $color-secondary-yellow,
  tertiary-yellow: $color-tertiary-yellow,
  primary-indigo: $color-primary-indigo,
  secondary-indigo: $color-secondary-indigo,
  tertiary-indigo: $color-tertiary-indigo,
  primary-violet: $color-primary-violet,
  secondary-violet: $color-secondary-violet,
  tertiary-violet: $color-tertiary-violet
);

@each $color, $color-value in $colors {
  .color-#{$color},
  .bg-#{$color} {
    background-color: $color-value;
  }
  .text-#{$color} {
    color: $color-value;
  }
}

// Typography Colors

.text {
  color: $text;
}

// ie9 (.ie9)

.ie9 .gradient { filter: none; }

.ie9 [class*="gradient"] {
  filter: none;
}
