// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Footer -- Version: 0.0.1 - Compiled: #{timestamp()}
    ========================================================================== */

    footer {
      @include padding(2em, 0);
      background-color: $bg-text;
      color: $color-white;
    }

    .sub-footer {
      @extend footer;
      border-top: 1px solid lighten($bg-text, 10%);
      background-color: $bg-text;
      color: $color-white;
    }
