// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Nav -- Version: 0.4.0 - Compiled: #{timestamp()}
   ========================================================================== */

nav {
  background-color: $color-primary-red;

  .container {
    display: table;
    width: 100%;
  }

  ul {
    display: table-row;
    width: 100%;

    li {
      display: table-cell;
      width: (100% / $nav-items);
      @include padding(($padding / 2), 0);
    }
  }

  h4 {
    @include margin;
  }

  a {
    color: $color-white;

    &:hover {
      color: $color-white;
      box-shadow: 0 2px 0 0 $color-white;
    }
  }

  @include bp(bp-big) {
    position: fixed;
    width: 100%;
    z-index: 9991;
  }
}
